/* 자주묻는 질문 (FAQ) */
section.type_faq_wrap ul {width:1200px; height:67px; margin: 0 auto 35px; font-family: 'GmarketSansMedium'; font-size: 18px;}
.type_faq_wrap a {display:block; width:300px; height:60px; line-height: 60px; border: 1px solid #b4b5bc; text-align: center; float: left;margin-top: 7px; background: #fff;}
.type_faq_wrap a.on {margin-top:0; background: #bae8e8; box-shadow: 0 5px 7px #b4b5bc; border:0}
ul.faq_list {width:1200px; margin: 0 auto; font-size: 18px; border-top: 1px solid #b4b5bc;}
.faq_list li.faq_questline {padding-left:70px; background: url(../images/sub_quest_icon.jpg) left 10px center no-repeat; line-height: 55px; border-bottom: 1px solid #b4b5bc; cursor: pointer;}
.faq_list li.faq_questline.on{font-family: 'GmarketSansMedium';}
.faq_list li.faq_answerline {padding: 10px 0 10px 115px; background: url(../images/sub_answer_icon.jpg) left 60px center no-repeat; line-height: 30px; border-bottom: 1px solid #b4b5bc;}

/* 자주묻는 질문 (FAQ) 작성 */
.write_t input[type=radio]{display: none;}
.write_t input[type=radio]+label{display: inline-block; text-align-last: justify; background: url('../images/card_type_radio.jpg') left center no-repeat; padding-left: 25px; margin-right: 100px;}
.write_t input[type=radio]:checked+label{background: url('../images/card_type_radio_act.jpg') left center no-repeat;}
.category_wrap{display: flex; justify-content: space-between;}
.modify_btn, .delete_btn {width:50px; height:25px; background: #999999; color: #fff; font-family: 'hangeulNuri-regular'; font-size: 16px; border-radius: 5px; border: none; line-height: 20px;}
.modify_btn:hover, .delete_btn:hover {background: #272343;}
.faqbtn_wrap {width:110px; float: right;}

/* 일대일 문의하기 */
form.customer_opinion{width:1200px; height:530px; background: #2d334a; border-radius: 5px; margin: 0 auto; padding:15px 20px; font-family: 'GmarketSansMedium'; font-size: 18px;}
.customer_opinion fieldset{background: #fff; border-radius: 5px; box-shadow: 0px -3px 10px 3px #999 inset; width:770px; height:500px; float: right; padding:25px 30px;}
.customer_opinion fieldset h4 {width:390px; font-family: 'GmarketSansMedium'; font-size: 24px; color: #fff; text-align: center; position: absolute; left:-430px; letter-spacing: 30px; text-indent: 30px;}
.customer_opinion fieldset li {position: relative; margin-bottom: 33px;}
li.opinion_type input{width:129px; height:31px; border: 1px solid #2d334a; border-radius: 5px; border-right: 0; background:url(../images/sub_type_selectdown.jpg) right center no-repeat; padding:0 5px; line-height: 31px; font-family: 'GmarketSansMedium'; font-size: 18px; cursor: pointer;}
.opinion_type div {position:relative;}
.opinion_type ul {width:129px; height:105px; background-color: #fff; border: 1px solid #2d334a; border-radius: 5px; padding:5px; position: absolute; top:30px; left:0; z-index: 2; display: none;}
.opinion_type ul a {color:#999; width:100%; height:100%; display: block;}
.opinion_type ul li {line-height: 25px; margin-bottom: 0px;}

li.opinion_title input,
li.opinion_email input {width:704px; height:32px; border-radius: 5px; border:1px solid #2d334a; font-family: 'GmarketSansMedium'; font-size: 18px; padding:5px 10px; line-height: 31px;}
li.opinion_content textarea {width:704px; height:250px; border-radius: 5px; border:1px solid #2d334a; font-family: 'GmarketSansMedium'; font-size: 18px; padding:5px 10px; line-height: 31px; resize: none;}

.emailtest{position:absolute; top:-23px; color:red; font-style: italic; font-family: 'GmarketSansLight'; font-weight: bold; font-size: 16px;}

.button_opinion_submit{width:235px; height:51px; background: url(../images/sub_button_seatend.png) no-repeat; font-family: 'GmarketSansMedium'; font-size:25px; line-height: 55px; margin:20px auto 70px; display: block;}
.button_opinion_submit:hover{background: url(../images/sub_button_seatend_act.png) no-repeat;}


/* search_box */
.search_wrap { float: right}
.search_wrap select, .search_wrap div { float: left; width: 230px;}
.search_input_wrap input {
  width: 190px; height: 30px; padding: 0px 10px;
  border: 1px solid #ced4da; border-radius: 5px;
  line-height: 30px; font-family: 'paybooc-Medium';
  box-sizing: border-box;
}  
.search_input_wrap input:focus {
  border: 1px solid #D45246; transition: all 0.3s;
}
.search_input_wrap button {
  background: #D45246;
  font-size: 18px; text-align: center; color:#fff; 
  font-family: 'paybooc-Medium'; line-height: 24px;
  border-radius: 5px; border: none;
  box-shadow: 2px 2px 0 rgb(136 136 136); cursor: pointer;
}
.search_input_wrap button:active {
  box-shadow: 1px 1px 0 rgb(0,0,0,0.5); 
  position: relative; top:2px; 
  background-color: #a13329;
}
.search_wrap select {
  width: 100px; height: 30px;
  line-height: 30px; font-family: 'paybooc-Medium';
  margin-right: 5px; padding: 0px 10px;
  border: 1px solid #eeeeee; border-radius: 5px;
  background: url(../images/toggle_arrow.png) no-repeat 95% 50%; background-size: 15%; appearance: none; color: #454851;
}
.search_wrap select:focus-visible {outline: 1px solid #D45246;}
/* search_box */
